# Calculator

In mathematics, the Nth harmonic number is defined to be 1 + 1/2 + 1/3 + 1/4 + ... + 1/N. So, the first harmonic number is 1, the second is 1.5, the third is 1.83333... and so on. Write an expression whose value is the 8th harmonic number.

In [1]:
1.0 + 1.0/2.0 + 1.0/3.0 + 1.0/4.0 + 1.0/5.0 + 1.0/6.0 + 1.0/7.0 + 1.0/8.0

2.7178571428571425

Assume that price contains an integer representing the price (in US currency) in cents of an item. Assuming the item is paid for with a minimum amount of change and just single dollars, write an expression for the number of single dollars that would have to be paid.   (// and %)

In [2]:
price = 250
price//100

2

In [3]:
price%100

50

Question: Assume that price is an integer variable whose value is the price (in US currency) in cents of an item. Write codes that prints the value of price in the form "X dollars and Y cents". So, if the value of price was 4321, your code would print "43 dollars and 21 cents". If the value was 501 it would print "5 dollars and 1 cents". If the value was 99 your code would print "0 dollars and 99 cents".

In [4]:
price = 5632

In [5]:
dollar = price//100
dollar

56

In [6]:
dollar = int(price/100)
dollar

56

In [7]:
cents = price%100

In [8]:
cents

32

In [9]:
import math

In [10]:
math.cos(60)

-0.9524129804151563

Question: $ u_{z}(x) = R^2{-\frac{(Z-H)}{(x \sin a)^2 + (Z-H)^3}} \frac{4RG+G^2}{4R^2} $

In [11]:
Z = 3.4
H = 8.9
R = -1.2
G = 11

a = 30

In [12]:
x = 0.5
R**2 - ((Z-H)/((x*math.sin(a)+(Z-H)*(Z-H)*(Z-H)))) * ((4*R*G+G*G)/4*R*R)

0.6307664862595082

In [13]:
1+32

33

<b> Question: Calculate the BMI of a person using the formula:

BMI = ( Weight in Pounds / ( ( Height in inches ) x ( Height in inches ) ) ) x 703

Assign the value to the variable bmi. Assume the value of the weight in pounds has already been assigned to the variable w and the value of the height in inches has been assigned to the variable h.

Additional Notes: w = 100 and h=67 should not be modified

What is te bmi?

In [14]:
# given values
w = 100  # weight in pounds
h = 67  # height in inches

# equation to calculate BMI
bmi = (w / (h * h)) * 703

# prints the BMI
print("The BMI is:", bmi)

The BMI is: 15.66050345288483

# Control Flow: if, elif, else

### code block: in if and not in if code block

Question: Given x and y, each assigned an integer value, write a fragment of code that assigns to larger of these with another variable named max_num.

In [15]:
i = 50
if i<50:
    print("bring an umbrella")
    print("good day")
elif i==50:
    print("sunscreen")
else:
    print("as usual")

sunscreen

In [16]:
x, y = 43, 88

if y > x: 
    max_num = y
elif y < x:
    max_num = x
else:
    max_num = x
    print("x and y are equal")
    
print(max_num)

88

In [17]:
x, y = 43, 88
max_num = x
if y > max_num: 
    max_num = y
print(max_num)

88

<b>Question: Given the variables x, y, and z, each assigned an integer value, write a fragment of code that assigns the smallest of these to minimal.
eg, x = 32  y= 56 z=-100

In [18]:
# x, y, z = 1,2,3
# x, y, z = 2,1,3
# x, y, z = 2,3,1

# first set of given values 
x, y, z = 1, 2, 3

# assign the smallest value to minimal
minimal = min(x, y, z)

# prints the value of minimal
print("The smallest value is:", minimal)

The smallest value is: 1

In [19]:
# second set of given values
x, y, z = 2, 1, 3

# assign the smallest value to minimal
minimal = min(x, y, z)

# prints the value of minimal
print("The smallest value is:", minimal)

The smallest value is: 1

In [20]:
# third set of given values
x, y, z = 2, 3, 1

# assign the smallest value to minimal
minimal = min(x, y, z)

# prints the value of minimal
print("The smallest value is:", minimal)

The smallest value is: 1

In [21]:
# example given values
x, y, z = 32, 56, -100

# assign the smallest value to minimal
minimal = min(x, y, z)

# prints the value of minimal
print("The smallest value is:", minimal)

The smallest value is: -100

<b>Question: Write an if/else statement that adds 1 to minors if age is less than 18, adds 1 to adults if age is 18 through 64 and adds 1 to seniors if age is 65 or older.

In [22]:
# given values
age = 30
minors = 15
adults = 20
seniors = 18

In [23]:
# if/else statement
if age < 18:
    minors += 1
elif age >= 18 and age <= 64:
    adults += 1
else:
    seniors += 1

# prints the updated values
print("Updated values:")
print("Minors:", minors)
print("Adults:", adults)
print("Seniors:", seniors)

Updated values:
Minors: 15
Adults: 21
Seniors: 18

<b>Given that pH refers to a float, write code that compares pH to 7.0 and makes the following assignments (RESPECTIVELY!) to the variables neutral, base, and acid: 

0,0,1 if pH is less than 7
0,1,0 if pH is greater than 7
1,0,0 if pH is equal to 7

In [24]:
# given values
pH = 7.0

# initialize variables
neutral = 0
base = 0
acid = 0

# compare pH to 7.0 to make the necessary assignments
if pH < 7:
    neutral, base, acid = 0, 0, 1
elif pH > 7:
    neutral, base, acid = 0, 1, 0
else:
    neutral, base, acid = 1, 0, 0

# print the values
print("Assignments:")
print("Neutral:", neutral)
print("Base:", base)
print("Acid:", acid)

Assignments:
Neutral: 1
Base: 0
Acid: 0

<b>Question:  
Online Book Merchants offers premium customers 1 free book with every purchase of 5 or more books and offers 2 free books with every purchase of 8 or more books. It offers regular customers 1 free book with every purchase of 7 or more books, and offers 2 free books with every purchase of 12 or more books.

Write a statement that assigns freeBooks the appropriate value based on the values of the boolean variable isPremiumCustomer and the integer variable nbooksPurchased.

 

Additional Notes: isPremiumCustomer and nbooksPurchased should not be modified

In [25]:
isPremiumCustomer = True
nbooksPurchased = 2

In [26]:
# initialize the freeBooks variable
freeBooks = 0

# check the conditions + assign the appropriate value to freeBooks
if isPremiumCustomer:
    if nbooksPurchased >= 8:
        freeBooks = 2
    elif nbooksPurchased >= 5:
        freeBooks = 1
else:
    if nbooksPurchased >= 12:
        freeBooks = 2
    elif nbooksPurchased >= 7:
        freeBooks = 1

# print the value of freeBooks
print("The number of free books is:", freeBooks)

The number of free books is: 0

# Loops(while and for) break and continue:t he ability to repeate to run a block of code

### while loop

In [27]:
print(0)
print(1)

0
1

In [28]:
n = 10
while n>0:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

In [29]:
n = 0
while n<=10:
    print(n)
    n = n+1

0
1
2
3
4
5
6
7
8
9
10

Question: s = 1+2+3+..+100 using while loop

In [30]:
i = 1
s = 0

while i<=100:
    s = s+i
    i += 1
print(s)

5050

<b>Question: In mathematics, the Nth harmonic number is defined to be 1 + 1/2 + 1/3 + 1/4 + ... + 1/N. So, the first harmonic number is 1, the second is 1.5, the third is 1.83333... and so on. Assume that n is an integer variable whose value is some positive integer N. Assume also that hn is a variable whose value is the Nth harmonic number. Write an expression whose value is the (N+1)th harmonic number.   (hn + 1.0/(n+1))  

Write a while loop get the result of when n = 100

In [31]:
# initialize variables
n = 1
hn = 1.0

# while loop to calculate the (N+1)th harmonic number
while n < 100:
    hn = hn + 1.0 / (n + 1)
    n += 1

# print the result
print("The result when n = 100 is:", hn)

The result when n = 100 is: 5.187377517639621

<b> Question: Given that n=16, use a while loop to compute the sum of the cubes of the first n counting numbers, and assign this value to total. Use no variables other than n, k, and total.

In [32]:
# given value
n = 16

# initialize total and k
total = 0
k = 1

# use a while loop to compute the sum of the cubes of the first n counting numbers
while k <= n:
    total += k**3
    k += 1

# Print the value of total
print("The sum of the cubes of the first", n, "counting numbers is:", total)

The sum of the cubes of the first 16 counting numbers is: 18496

<b>Question:  
Assume there is a variable, h that has already been assigned a positive integer value. Write the code necessary to count the number of perfect squares whose value is less than h, starting with 1. (A perfect square is an integer like 9, 16, 25, 36 that is equal to the square of another integer (in this case 3*3, 4*4, 5*5, 6*6 respectively). Assign the sum you compute to a variable q For example, if h is 19, you would assign 4 to q because there are perfect squares (starting with 1) that are less than h are: 1, 4, 9, 16.

In [33]:
# given value
h = 19

# initialize variable q to count the number of perfect squares
q = 0

# use a loop to count the number of perfect squares less than h
for i in range(1, h):
    if i * i < h:
        q += 1
    else:
        break

# print the number of perfect squares
print("The number of perfect squares less than", h, "is:", q)

The number of perfect squares less than 19 is: 4

### list and range()

Clunker Motors Inc. is recalling all vehicles in its Extravagant line from model years 1999-2002. Given a variable modelYear (containing a integer) and a variable modelName (containing a string) write a statement that prints the message "RECALL" to standard output if the values of modelYear and modelName match the recall details.

In [34]:
modelYear = 2000
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

RECALL

In [35]:
modelYear = 2003
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

In [36]:
modelYear = 1999
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

RECALL

<b>Question:Create a list named tax_rates, consisting of the following five elements: 0.10, 0.15, 0.21, 0.28, 0.31, in that order.

In [37]:
tax_rates = [0.10, 0.15, 0.21, 0.28, 0.31]

In [38]:
tax_rates[0]

0.1

In [39]:
tax_rates[2]

0.21

In [40]:
tax_rates[-1]

0.31

In [41]:
tax_rates[0:3]

[0.1, 0.15, 0.21]

<b>question: Write a statement that creates a list named denominations consisting of the following six elements: 1, 5, 10, 25, 50, 100 (in that order).

In [42]:
# create a list named denominations
denominations = [1, 5, 10, 25, 50, 100]

# print the list
print("The list 'denominations' is:", denominations)

The list 'denominations' is: [1, 5, 10, 25, 50, 100]

In [43]:
# temp = list(range(5))
# temp

<b>question: Given the list = [4,2,6,1], insert 2 and 1 to the end of the list

In [44]:
lst = [4,2,6,1]

In [45]:
lst.append(2)

In [46]:
lst

[4, 2, 6, 1, 2]

In [47]:
len(lst)

5

In [48]:
range(len(lst))

range(0, 5)

### for loop

To find the minum number in a list

In [49]:
lst = [4,5,2,3,54,542,64,637,-1]

In [50]:
lst1 = [1,2,4,-1, 0]

In [51]:
min_var = lst[0]
for ele in lst:
    if ele < min_var:
        min_var = ele
        print(min_var)
print(min_var)

2
-1
-1

# function

def function_name(input):     function head
    code body  
    
    return output              return: output

In [52]:
# input is a list
# the function could find the min number of the list
# output is the min number of the list

In [53]:
def min_num(l):    # head of the function
    min_var = l[0]
    for ele in l:
        if ele < min_var:
            min_var = ele
#             print(min_var)
    
    return min_var

In [54]:
l = [1,2,4,-1, 0]   #  input
# how to use the function?     answer: function_name(input)
output = min_num(l)   
print(output)

-1

### Question:   
Write a function named comp, which compares two numbers and return the bigger one   
Input: two numbers   
Output: the bigger number  

Then call the function to get the output

In [55]:
def comp(a, b):
    # compares two numbers and return the bigger one
    if a > b:
        return a
    else:
        return b

# calls the function to get the output
result = comp(34, 87)
print("The bigger number is:", result)

The bigger number is: 87

### Question:   
Write a function named comp2, which compares 3 numbers and return the bigger one  
Input: 3 numbers  
Output: the bigger number  

Then call the function to get the output

In [56]:
def comp2(a, b, c):
    # compare three numbers and return the biggest one
    return max(a, b, c)

# call the function to get the output
result = comp2(112, 1, 43)
print("The biggest number is:", result)

The biggest number is: 112

In [57]:
output = comp2(-1, 100, -99)
print(output)

100

In [58]:
language = "Python"

In [59]:
for character in language:
    print(character)

P
y
t
h
o
n

Dont print 't'

In [60]:
for character in language:
    if character == 't':
        continue
    print(character)

P
y
h
o
n

stop printing if meet 't'

In [61]:
for character in language:
    if character == 't':
        break
    else:
        print(character)

P
y

### Question:  
write a function named printfruit which print out the fruit one by one  
input: a list of fruits   
no return, only print out these fruits one by one  

for example
fruits = ["apple", "banana", "cherry"]   
"apple"  
"banana"  
"cherry"

In [62]:
def printfruit(fruits):
    # print out the fruits one by one
    for fruit in fruits:
        print(fruit)

# list of fruits
fruits = ["apple", "banana", "cherry"]

# call the function to print the fruits
printfruit(fruits)

apple
banana
cherry

### Question:   
write a function named printchar which print out the char in a string one by one   
input: a string   
no return, only print out these fruits one by one

In [63]:
def printchar(string):
    # print out the characters in the string one by one
    for char in string:
        print(char)

string = "example"

# call the function to print the characters in the string
printchar(string)

e
x
a
m
p
l
e

<b>Question:  
Exit the loop when x is "banana", but this time the break comes before the print:

In [64]:
fruits = ["apple", "banana", "cherry"]

# iterate through the list and break the loop when x is "banana"
for x in fruits:
    if x == "banana":
        break

# the break comes before the print statement, so it won't print "banana"

<b>Question:  
Do not print banana:

In [65]:
fruits = ["apple", "banana", "cherry"]

# iterate through the list, but do not print "banana"
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry