# Sampling  
- Terminology: Population and Sampling   
- Random Sampling  
- Systematic Sampling
- Cluster Sampling
- Weighted Sampling
- Stratified Sampling

In [1]:
import random

### Random Sampling   
- random.choice():returns a single random element
- random.sample():  a list of multiple random elements without replacement, take cards from a deck
- random.choices():  a list of multiple random elements with replacement
- random.seed(): fix the random seed
- random.shuffle(): shuffle a list

In [2]:
l = [0, 1, 2, 3, 4]

print(random.choice(l))

3

<b> Question: generate a list with 100 random floats, then random choice one from this list

In [3]:
import random

# generate a list with 100 random floats
random_floats = [random.uniform(0, 1) for _ in range(100)]

# randomly choose one float from the list
random_choice = random.choice(random_floats)

# print the results
print("Randomly generated list of floats:", random_floats)
print("Randomly chosen float from the list:", random_choice)

Randomly generated list of floats: [0.8901109306619487, 0.698033118399308, 0.4585884260873959, 0.15321266294490177, 0.14677080615300575, 0.5935778872111085, 0.9928801754958617, 0.33415905909582166, 0.5039566388398026, 0.5997587471176108, 0.10315531368981645, 0.5612133445773579, 0.9933440176627776, 0.8500191622290508, 0.6810714114027228, 0.437707511440682, 0.45012343730485704, 0.3441656843412937, 0.33829071069188865, 0.5709119030125651, 0.5328556945622177, 0.883244959665091, 0.8255351729313407, 0.12747699043102267, 0.8549038811003682, 0.03804193740652928, 0.08317416711692216, 0.24305848570511857, 0.10141086174519787, 0.8600259309563674, 0.33250599693329663, 0.5931478063092865, 0.9019595194534845, 0.3522640473391987, 0.06077117542267374, 0.8567809813329421, 0.5344658944942593, 0.6884281284948728, 0.13998860218779685, 0.7663519422857334, 0.7252224569350817, 0.31099977021350367, 0.4459567891942492, 0.6768808980250015, 0.12593832418687922, 0.49306243600988797, 0.4367275702071235, 0.9453614712646597, 0.5198434397891759, 0.905463604204247, 0.7725355406517174, 0.6067728597517357, 0.18092071479933802, 0.5968661874508053, 0.7010307832673827, 0.40338810531599456, 0.9287137753218969, 0.0010211102852603071, 0.32448486195855797, 0.735665287090269, 0.15615879042673764, 0.7875462171075581, 0.08713176328681704, 0.5297694238034518, 0.17446705933676876, 0.886155280744696, 0.8362979825646205, 0.5175691329432965, 0.5252637606845725, 0.6391168651079906, 0.477138194670372, 0.03326170715258303, 0.30313517965557646, 0.01601808086551626, 0.5073779426798397, 0.08478911148391755, 0.6208801154191527, 0.42933912778799155, 0.29467052810172034, 0.2985808169526888, 0.9380859227892812, 0.5986804966190772, 0.2968337465508101, 0.07555083784763372, 0.8427220028023397, 0.8790611123514203, 0.844161151342756, 0.5697975132376234, 0.13929782452887796, 0.05479722513456442, 0.9572331593451396, 0.34814158842255327, 0.24827738095348673, 0.22808633108797105, 0.942096632800443, 0.5099095195855203, 0.5190506095218542, 0.015796521027739097, 0.20221207705775135, 0.44729670128236454]
Randomly chosen float from the list: 0.5190506095218542

In [59]:
print(random.choice(('xxx', 'yyy', 'zzz')))

xxx

In [21]:
l = [0, 1, 2, 3, 4]

print(random.sample(l, 3))
print(random.sample(l, 4))

[1, 2, 3]
[0, 1, 2, 4]

In [62]:
print(random.sample(l, 2))

[4, 1]

In [63]:
print(random.choices(l, k=3))

[4, 3, 4]

In [65]:
print(random.choices(l, k=100))

[2, 4, 0, 0, 1, 0, 0, 2, 1, 2, 2, 4, 2, 2, 2, 4, 1, 2, 1, 4, 2, 4, 1, 3, 3, 1, 1, 2, 2, 3, 3, 2, 4, 1, 3, 2, 2, 3, 4, 4, 4, 4, 3, 3, 2, 1, 3, 4, 2, 2, 3, 2, 3, 2, 1, 3, 4, 3, 1, 0, 4, 4, 0, 2, 0, 2, 3, 4, 3, 0, 1, 4, 4, 0, 4, 3, 0, 1, 1, 0, 0, 0, 0, 4, 1, 0, 4, 3, 2, 0, 2, 3, 1, 4, 0, 4, 3, 3, 1, 2]

<b> Question:  
- generate a list lenth is 10 with random floats  
- select 5 from this list without replacement  
- select 5 from this list with replacement

In [5]:
import random

# generate a list of 10 random floats
random_floats = [random.uniform(0, 1) for _ in range(10)]

# select 5 random floats from the list without replacement
random_without_replacement = random.sample(random_floats, 5)

# select 5 random floats from the list with replacement
random_with_replacement = [random.choice(random_floats) for _ in range(5)]

# print the results
print("List of 10 random floats:", random_floats)
print("5 random floats without replacement:", random_without_replacement)
print("5 random floats with replacement:", random_with_replacement)

List of 10 random floats: [0.6754725408516876, 0.611038832355054, 0.8493661895804016, 0.8503073462327425, 0.4533404164329722, 0.30670360993328005, 0.23536912724109305, 0.7844919078823964, 0.9003587317921415, 0.722016264446398]
5 random floats without replacement: [0.4533404164329722, 0.6754725408516876, 0.23536912724109305, 0.611038832355054, 0.8503073462327425]
5 random floats with replacement: [0.4533404164329722, 0.4533404164329722, 0.6754725408516876, 0.8503073462327425, 0.4533404164329722]

### Weighted Sampling

In [66]:
print(random.choices(l, k=3, weights=[0, 1, 1, 10, 1]))

[3, 3, 3]

In [14]:
l = [0, 1, 2, 3, 4]

random.shuffle(l)

print(l)

[1, 3, 4, 0, 2]

In [12]:
l = [0, 1, 2, 3, 4]

l_shuffled = random.sample(l, len(l))
print(l_shuffled)

[4, 1, 3, 0, 2]

### Systematic Sampling

In [67]:
# Import in order to use inbuilt functions
import numpy as np
import pandas as pd
 
# Define total number of students
number_of_students = 15
 
# Create data dictionary
data = {'Id': np.arange(1, number_of_students+1).tolist(),
        'height': [159, 171, 158, 162, 162, 177, 160, 175,
                   168, 171, 178, 178, 173, 177, 164]}
 
# Transform dictionary into a data frame
df = pd.DataFrame(data)
 
# display(df)
 
# Define systematic sampling function
def systematic_sampling(df, step):
 
    indexes = np.arange(0, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
 
 
# Obtain a systematic sample and save it in a new variable
systematic_sample = systematic_sampling(df, 3)
 
# View sampled data frame
# display(systematic_sample)

<b> Question: read penguins_iter.csv, then use the sysmetics sampling to sample data, step sets to 5

In [11]:
import pandas as pd

# Read the penguins_iter.csv file BUT NOT GIVEN TO US so will result in errors
data = pd.read_csv('penguins_iter.csv')

# Apply systematic sampling with a step size of 5
sampled_data = data.iloc[::5]

# Print the sampled data
print("Sampled Data:")
print(sampled_data)

FileNotFoundError: [Errno 2] No such file or directory: 'penguins_iter.csv'

In [ ]:
import random

Generate random numbers:
- Generate random integers : randrange(), randint()
- Generate random floating : uniform(), random()
- Generate a list of random numbers


- Beta distribution: random.betavariate()
- Exponential distribution: random.expovariate()
- Gamma distribution: random.gammavariate()
- Gaussian distribution: random.gauss()
- Log normal distribution: random.lognormvariate()
- Normal distribution: random.normalvariate()
- von Mises distribution: random.vonmisesvariate()
- Pareto distribution: random.paretovariate()
- Weibull distribution: random.weibullvariate()

In [4]:
print(random.random())

0.08495981584077161

In [5]:
print(random.uniform(100, 200))

198.90787935649226

In [6]:
print(random.randrange(10, 20, 2))
print(random.randint(50, 100))

10
73

<b> Question: Generate 10 integers and put them in a list

In [9]:
# generate 10 random integers and put them in a list
random_integers = [random.randint(1, 100) for _ in range(10)]

# print the list of random integers
print(random_integers)

[53, 85, 66, 77, 47, 50, 70, 14, 8, 55]

In [39]:
print([random.randint(0, 10) for i in range(5)])

[1, 4, 8, 4, 1]

In [7]:
print([random.random() for i in range(5)])

[0.46956348970928574, 0.47392382960408297, 0.25260094388241716, 0.7849017409976323, 0.3385096960144236]

In [8]:
print([random.randint(0, 10) for i in range(5)])

[1, 1, 6, 10, 10]

In [52]:
# random.seed(0)
print(random.random())

0.9081128851953352

In [54]:
random.seed(2)
print(random.random())


print(random.random())


random.seed(2)
print(random.random())

0.9560342718892494
0.9478274870593494
0.9560342718892494

Sampling wutg pandas

### Dataframe sampling

<b> Question: read penguins_iter.csv data

In [72]:
import pandas as pd

In [73]:
file = r"C:\Users\ZhaoY\Downloads\Engr10200_A Data Science and Statistical Approach to Programming\penguins_lter.csv"

In [74]:
df = pd.read_csv(file)

In [75]:
row = df.sample(n = 1)
row

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
109,PAL0910,110,Adelie Penguin (Pygoscelis adeliae),Anvers,Biscoe,"Adult, 1 Egg Stage",N55A2,Yes,11/20/09,43.2,19.0,197.0,4775.0,MALE,9.31735,-25.45171,NaN

In [77]:
row = df.sample(n = 5)
row

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
200,PAL0910,49,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N88A1,Yes,11/23/09,51.5,18.7,187.0,3250.0,MALE,9.68950,-24.43062,NaN
140,PAL0910,141,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N80A1,Yes,11/14/09,40.2,17.1,193.0,3400.0,FEMALE,9.28810,-25.54976,NaN
94,PAL0809,95,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N48A1,Yes,11/17/08,36.2,17.3,187.0,3300.0,FEMALE,8.90723,-26.30037,NaN
89,PAL0809,90,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N44A2,Yes,11/8/08,38.9,18.8,190.0,3600.0,FEMALE,8.36936,-26.11199,NaN
116,PAL0910,117,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N63A1,Yes,11/18/09,38.6,17.0,188.0,2900.0,FEMALE,9.18021,-25.77264,NaN

In [31]:
rows = df.sample(frac =.25) 
  
# checking if sample is 0.25 times data or not 
  
if (0.25*(len(df))== len(rows)): 
    print( "Cool") 
    print(len(df), len(rows)) 
  
# display 
rows

Cool
344 86

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
222,PAL0708,3,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N32A1,Yes,11/27/07,48.7,14.1,210.0,4450.0,FEMALE,8.14705,-25.46172,NaN
318,PAL0910,99,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N21A1,Yes,11/18/09,48.4,14.4,203.0,4625.0,FEMALE,8.16582,-26.13971,NaN
97,PAL0809,98,Adelie Penguin (Pygoscelis adeliae),Anvers,Dream,"Adult, 1 Egg Stage",N49A2,Yes,11/8/08,40.3,18.5,196.0,4350.0,MALE,8.39459,-26.01152,NaN
306,PAL0910,87,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N13A1,Yes,11/20/09,43.4,14.4,218.0,4600.0,FEMALE,8.23468,-26.18599,NaN
289,PAL0809,70,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N53A2,Yes,11/13/08,50.7,15.0,223.0,5550.0,MALE,8.63551,-26.74249,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,PAL0708,29,Adelie Penguin (Pygoscelis adeliae),Anvers,Biscoe,"Adult, 1 Egg Stage",N18A1,No,11/10/07,37.9,18.6,172.0,3150.0,FEMALE,8.38404,-25.19837,Nest never observed with full clutch.
273,PAL0809,54,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N14A2,Yes,11/4/08,50.1,15.0,225.0,5000.0,MALE,8.50153,-26.61414,NaN
194,PAL0809,43,Chinstrap penguin (Pygoscelis antarctica),Anvers,Dream,"Adult, 1 Egg Stage",N75A1,Yes,11/14/08,50.9,19.1,196.0,3550.0,MALE,10.02372,-24.86594,NaN
63,PAL0809,64,Adelie Penguin (Pygoscelis adeliae),Anvers,Biscoe,"Adult, 1 Egg Stage",N28A2,Yes,11/13/08,41.1,18.2,192.0,4050.0,MALE,8.62264,-26.60023,NaN
325,PAL0910,106,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N24A2,Yes,12/1/09,46.8,16.1,215.0,5500.0,MALE,8.32359,-26.05756,NaN

<b> question: random select ten rows of the penguins_iter.csv data

In [13]:
# NOT GIVEN FILE IN HW FILE WILL RESULT IN EERRORS DUE TO THAT
random_sample = df.sample(n=10)

# Print the randomly selected sample
print("Randomly Selected Sample:")
print(random_sample)

NameError: name 'df' is not defined

In [32]:
df.columns

Index(['studyName', 'Sample Number', 'Species', 'Region', 'Island', 'Stage',
       'Individual ID', 'Clutch Completion', 'Date Egg', 'Culmen Length (mm)',
       'Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)', 'Sex',
       'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'],
      dtype='object')

In [34]:
df["Culmen Length (mm)"].mean()

43.92192982456142

In [33]:
df["Culmen Length (mm)"].sample(n=10).mean()

45.220000000000006

In [36]:
df["Culmen Length (mm)"].sample(n=100).mean()

43.280808080808065

### Bootstrapping

average height of the population   
1. select 1million to get the average height, ave
2. random select 1 million again, ave
3. repeates

In [14]:
import numpy as np

# generate a random population of heights (normally distributed)
population_heights = np.random.normal(loc=170, scale=10, size=1000000)  # Mean: 170, Standard Deviation: 10

# calculate the average height of the population
average_height = np.mean(population_heights)
print("Average height of the population:", average_height)

# perform bootstrapping by repeatedly sampling with replacement and calculating the average
num_samples = 1000  # Number of bootstrap samples
bootstrap_means = []
for _ in range(num_samples):
    bootstrap_sample = np.random.choice(population_heights, size=1000000, replace=True)
    bootstrap_mean = np.mean(bootstrap_sample)
    bootstrap_means.append(bootstrap_mean)

# print the average of the bootstrapped sample means
print("Average of the bootstrapped sample means:", np.mean(bootstrap_means))

Average height of the population: 169.99437395848526
Average of the bootstrapped sample means: 169.99439489785865

In [1]:
from scipy.stats import norm

# Hypothesis testing

Hypothesis: A hypothesis is a statement about an unknown population parameter   
A hypothesis test is a test of 2 competing hypotheses  
z_score = (sample_mean - hypothesis_mean)/data_std     

p-values: probability of obtaining a result assuming the null hyposthesis is true   
left-tailed test  norm.cdf()   
right-tailed test 1-norm.cdf()  eg, 1-norm.cdf(z_score, loc=0, scale=1)

<b> Question: generate a list which length is 100, sample 10 from the list and get the z_score, then get the left_tailed

In [16]:
import random
from scipy import stats

# generate a list of 100 numbers
data = [random.randint(1, 100) for _ in range(100)]

# sample 10 numbers from the list
sample = random.sample(data, 10)

# calculate the z-scores of the sample
z_scores = stats.zscore(sample)

# obtain the left-tailed values
left_tailed = stats.norm.cdf(z_scores)

# print the results
print("Original Data:", data)
print("Sample:", sample)
print("Z-scores:", z_scores)
print("Left-tailed values:", left_tailed)

Original Data: [25, 96, 56, 76, 44, 95, 61, 35, 60, 43, 82, 90, 99, 89, 83, 19, 31, 76, 7, 35, 66, 25, 37, 36, 17, 40, 30, 57, 25, 11, 67, 19, 35, 56, 37, 94, 65, 11, 2, 16, 43, 52, 8, 7, 59, 83, 83, 19, 83, 98, 17, 90, 8, 22, 90, 24, 8, 31, 70, 69, 29, 19, 14, 8, 21, 84, 55, 4, 59, 55, 28, 4, 53, 77, 98, 78, 7, 7, 4, 36, 44, 80, 88, 26, 35, 4, 81, 32, 35, 34, 30, 34, 74, 52, 29, 70, 24, 83, 100, 5]
Sample: [8, 25, 66, 19, 4, 19, 7, 55, 100, 83]
Z-scores: [-0.92913457 -0.4129487   0.83197017 -0.59513195 -1.05059007 -0.59513195
 -0.95949844  0.49796755  1.86434191  1.34815604]
Left-tailed values: [0.17640968 0.3398221  0.79728711 0.27587764 0.14672345 0.27587764
 0.16865385 0.69074654 0.96886315 0.9111959 ]